* {
    margin: 0;
}

h1 {
    color: #1A2236;
    font-family: Playfair Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    width: 220px;
    height: 100px;
}

p {
    color: #1A2236;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.1%;
    text-align: left;
    width: 288px;
    height: 126px;
}

button {
    width: 288px;
    height: 50px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    background-color: #1A2236;
    border-width: 0px;
}

button:hover {
    background-color: #FFFFFF;
    border: 1px solid #1A2236;
    color: #1A2236;
}

button:active {
    border: 2px solid #1A2236;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.hamburger {
    margin-top: 19px;
    margin-right: 16px;
}

section {
    width: 288;
    align-self: center;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
}

button {
    margin-bottom: 33px;
}

.header-image {
    width: 100%;
}