
* {
  margin: 0;
}

h1 {
  color: #1a2236;
  font-family: Playfair Display, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  width: 220px;
  height: 100px;
  margin-bottom: 20px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

p.introduction {
  color: #1a2236;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.1%;
  text-align: left;
  width: 100%;
  margin-bottom: 40px;
}

button.primary-dark {
  width: 100%;
  height: 50px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  background-color: #1a2236;
  border-width: 0;
  margin-bottom: 50px;
  transition-duration: 0.5s;
}

button.primary-dark:active {
  border: 2px solid #1a2236;
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.hamburger {
  margin-right: 16px;
}

.intro {
  width: 288px;
  align-self: center;
}

.header-image {
  width: 100%;
  background-image: url("./img/image_geometry_2.svg");
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
}

h2 {
  font-family: Playfair Display, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 16px;
  padding-bottom: 32px;
}

.project-image {
  width: 100%;
  display: block;
  margin-bottom: -3px;
  transition-duration: 0.6s;
}

.project-image:hover {
  filter: grayscale(0.7);
}

h3 {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  padding-bottom: 20px;
}

.project-description {
  background-color: #1a2236;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

button.project-button {
  color: #fff;
  height: 44px;
  width: 178px;
  background-color: #1a2236;
  border: 1px solid #fff;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

button.primary-dark:hover,
button.project-button:hover {
  background-color: #fff;
  border: 1px solid #1a2236;
  color: #1a2236;
}

li.skill {
  padding: 6px 10px 6px 10px;
  font-family: Poppins, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 8px;
  letter-spacing: 0;
  text-align: left;
  color: #1a2236;
  background-color: #98dede;
  width: fit-content;
  margin-right: 10px;
  margin-bottom: 20px;
  list-style: none;
}

section.project {
  display: flex;
  flex-direction: column;
}

ul.skills-list {
  display: flex;
  padding: 0;
}

ul.categories {
  padding: 0;
}

li.lists {
  color: #fff;
  margin: 16px;
  padding: 50px;
  list-style: none;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  background-repeat: no-repeat;
  background-position: right bottom;
}

section.about-information {
  padding: 16px;
}

h2.about-title {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 56px;
}

#languages {
  background-color: #1c528a;
  background-image: url("./img/languages.png");
}

#frameworks {
  background-color: #e2505c;
  background-image: url("./img/frameworks.png");
}

#super {
  background-color: #febf52;
  background-image: url("./img/ic_skills.svg");
}

li {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.0525em;
  list-style-type: disc;
}

ul.sublist {
  padding: 22px;
}

main {
  display: grid;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr;
}

section.get-started {
  background-color: #f9f9fa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  background-image: url("./img/image_geometry_1.svg");
  background-repeat: no-repeat;
  padding-top: 106px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-list {
  padding: 0;
}

.form-list-items {
  list-style: none;
}

label {
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
  padding-top: 4px;
  padding-left: 16px;
  color: #7d7c84;
}

input {
  height: 21px;
  width: 288px;
  padding-left: 16px;
  padding-top: 23px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #dfdfe0;
  border-radius: 4px;
}

input:focus {
  border-color: #1a2236;
}

textarea {
  height: 112px;
  width: 288px;
  padding-left: 16px;
  padding-top: 15px;
  resize: none;
  border-style: solid;
  border-width: 1px;
  border-color: #dfdfe0;
  border-radius: 4px;
}

textarea:focus {
  border-color: #1a2236;
}

::-webkit-input-placeholder {
  color: #1a2236;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
}

h2.get-started {
  padding-left: 0;
  transition-duration: 0.5s;
}

.get-started p:hover {
  transform: translate(20px);
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 992px) {
  header {
    flex-wrap: wrap;
    flex-direction: row;
  }

  nav {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    border-bottom: 1px solid #dddfe6;
  }

  section.intro {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    height: 685px;
    padding-top: 192px;
    background-image: url("./img/image_dots.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  div.header-image {
    width: 50%;
    background-image: url("./img/image-geometry_desktop.svg");
    height: 877px;
  }

  h1 {
    font-size: 110px;
    line-height: 110px;
    height: 220px;
    padding-bottom: 60px;
  }

  p.introduction {
    padding-bottom: 60px;
  }

  button.primary-dark {
    width: 254px;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
    margin-right: 50px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: right;
    color: #1a2236;
    border-bottom: 2px solid #fff;
  }

  .desktop-only:hover {
    border-bottom: 2px solid #1a2236;
  }

  main {
    margin-top: 200px;
    grid-template-columns: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
    grid-template-rows: 558px 80px 190px 80px 190px 275px 270px;
  }

  main h2 {
    font-size: 110px;
    transform: rotate(-90deg);
    width: 11.1%;
    height: 50px;
    grid-column: 2 / 3;
    position: relative;
    top: 350px;
  }

  .item1 {
    grid-column: 4 / 10;
  }

  .item2 {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
  }

  .item6 {
    grid-column: 7 / 10;
    grid-row: 2 / 4;
  }

  .item5 {
    grid-column: 7 / 10;
    grid-row: 4 / 6;
  }

  .item4 {
    grid-column: 6 / 9;
    grid-row: 7 / 8;
  }

  .item3 {
    grid-column: 1 / 6;
    grid-row: 5 / 7;
  }

  .spots {
    background-image: url("./img/image_dots.svg");
    background-position: top;
    background-repeat: no-repeat;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .background2 {
    background-image: url("./img/image-geometry_2.png");
    background-repeat: no-repeat;
    grid-column: 4 / 7;
    grid-row: 2 / 5;
  }

  .background3 {
    background-image: url("./img/image-geometry_3.png");
    background-repeat: no-repeat;
    grid-column: 6 / 10;
    grid-row: 6 / 7;
    z-index: -1;
  }

  .background4 {
    background-image: url("./img/image-geometry_4.png");
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 7 / 8;
  }

  .background5 {
    background-image: url("./img/image-geometry_5.png");
    background-repeat: no-repeat;
    background-position: top right;
    grid-column: 5 / 6;
    grid-row: 7 / 8;
  }

  div.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-right: auto;
  }

  .about-information {
    width: 30%;
    margin-left: 7%;
  }

  .categories {
    width: 560px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  li.lists {
    margin: 0;
  }

  li.background6 {
    background-image: url("./img/image_dots_with_teal.png");
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  div.get-started {
    display: flex;
    flex-direction: row;
    background-image: none;
    padding: 0;
  }

  .column1 {
    width: 30%;
    background-image: url("./img/image-geometry_7.png");
    background-position: top left;
    background-repeat: no-repeat;
    height: 950px;
  }

  .column3 {
    width: 30%;
    height: 950px;
    background-image: url("./img/image-geometry_8.png");
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .column2 {
    display: flex;
    flex-direction: column;
    height: 950px;
  }

  .column2 h2 {
    padding-top: 200px;
    font-size: 110px;
    margin-bottom: 40px;
    align-self: center;
  }

  .column2 p {
    align-self: center;
    padding-bottom: 0;
  }

  ul.form-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li.small-list-item {
    width: 50%;
  }

  li.large-list-item {
    width: 200%;
  }

  #name {
    width: 90%;
  }

  #email {
    width: 100%;
  }

  #message {
    width: 100%;
  }

  section.column2 button {
    align-self: center;
    margin-top: 40px;
  }

  .item1 img {
    position: relative;
    float: left;
  }

  .item1 section {
    position: absolute;
    width: 100%;
    margin-top: 400px;
  }
}

.hidden {
  display: none;
}

.show_popup {
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
}

.show_menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/img/bottom.png), url(/img/top.png);
  background-position: bottom, top left;
  background-repeat: no-repeat;
  background-size: contain, 82%;
}

#cross {
  position: fixed;
  top: 24px;
  right: 20px;
}

.mobile-menu-links {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
  color: #000;
}

.mobile-menu-links:hover {
  text-decoration: underline;
}
